<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./stylesheets/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap" rel="stylesheet">
  <title>Anime Recommender</title>
</head>
<body>
  <div class="container2">
    <h1>Anime Recommender</h1>
  </div>
  <p class="instructions">Type an anime name and click on the button to get recommendations</p>
  <div class="container">
    <input id="main-anime" type="text">
  </div>
  <button id="search" type="button">Recommend!</button>

  <div class="container">
    <table>
      <thead>
        <tr>
          <th class="header" hidden>ID</th>
          <th class="header" hidden>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td id="id1" class="cell" hidden></td>
          <td id="name1" class="cell" hidden></td>
        </tr>
        <tr>
          <td id="id2" class="cell" hidden></td>
          <td id="name2" class="cell" hidden></td>
        </tr>
        <tr>
          <td id="id3" class="cell" hidden></td>
          <td id="name3" class="cell" hidden></td>
        </tr>
        <tr>
          <td id="id4" class="cell" hidden></td>
          <td id="name4" class="cell" hidden></td>
        </tr>
        <tr>
          <td id="id5" class="cell" hidden></td>
          <td id="name5" class="cell" hidden></td>
        </tr>
        <tr>
          <td id="id6" class="cell" hidden></td>
          <td id="name6" class="cell" hidden></td>
        </tr>
        <tr>
          <td id="id7" class="cell" hidden></td>
          <td id="name7" class="cell" hidden></td>
        </tr>
        <tr>
          <td id="id8" class="cell" hidden></td>
          <td id="name8" class="cell" hidden></td>
        </tr>
        <tr>
          <td id="id9" class="cell" hidden></td>
          <td id="name9" class="cell" hidden></td>
        </tr>
        <tr>
          <td id="id10" class="cell" hidden></td>
          <td id="name10" class="cell" hidden></td>
        </tr>
      </tbody>
    </table>
  </div>


  <script src="./javascripts/index.js"></script>
</body>
</html>